.login_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.login{
    border: 1px solid black;
    margin: auto;
    width: 500px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    height: 300px;
    margin-top: 200px;
}
.login_image{
    height: 100px;
    width: 200px;
    color: black;
    object-fit: contain;
    margin-top: 60px;
    margin-bottom: 40px;
}
.login h5{
    text-align: center;
    font-size: 15px;
}
    
.login_detail{
    width: 50%;
    margin: auto;
    font-size: 13px;
    font-weight: 500;

}
.login input{
    width: 100%;
}
.login_detail .button1{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:80px;
    text-align: center;
    width: 40%;
}
.link{
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}
 